!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual top up services</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <h1>VIRTUAL TOP UP</h1>

        <p>The best platform for automated vtu services. Buy cheap and affordable data plans easily with cable and utility bill subscriptions. REGISTER NOW!</p><br>

        <!-- Styled buttons -->
    <button class="button">LOGIN</button>

    <a href="register.html">
    <button class="button2">REGISTER</button>
    </a>

    <h2>WHY CHOOSE US</h2>

    <p>Virtual top up service is a reliable vending platform to purchase all virtual top up services in Nigeria.</p> 
    <p>Our services are convinient, fully automated, fast and secure with instant delivery of transactions.</p>


</body>
</html>
