<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual top up services</title>
    <body>
        <div class="navbar-menu">
            <div class="navbar-start">

            </div>

            <div class="navbar-end has-hover">
                <a class="navbar-item" href="#">Dashboard</a>
                <a class="navbar-item" href="#">Buy Data</a>
                <a class="navbar-item" href="#">Buy Airtime</a>
                <a class="navbar-item" href="#">Fund wallet</a>
                <a class="navbar-item" href="#">Transactions</a>
                <a class="navbar-item" href="#">Wallet Summaary</a>
                <a class="navbar-item" href="#">My Referrals</a>
                <a class="navbar-item" href="#">Pricing</a>
                <a class="navbar-item" href="#">Account</a>
                <a class="navbar-item" href="#">Change pin</a>
                <a class="navbar-item" href="#">Settings</a>
                <a class="navbar-item" href="#">Developer's Api</a>
                <a class="navbar-item" href="#">Logout</a>
                <div class="navbar-item">
                
                </div>
                </div>
    </body>
</head>
