/* backgroung styling */
body {
    background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
       background-color: rebeccapurple;
       background-size: 50%;
       background-attachment: static;
}
/* Specific styles for h1 */
h1 {
   color: green;
   text-align: centre;
   font: 36;
}

/* Specific styles for h2 */
h2 {
   color: brown;
   text-align: left;
   font: 16;
}

/* Specific styles h3 */
h3 {
   color: indigo;
   text-align: centre;
   font: 16;
}


/* Specific styles for paragraphs under h1 */
h1 + p {
   color: black;
   text-align: centre;
   font: 24;
}

/* Specific styles for paragraphs under h2 */
h2 + p {
   color: black;
   text-align: centre;
   font: 14;
}

/* Specific styles for paragraphs under h3 */
h3 + p {
   color: black;
   text-align: centre;
   color: black;
   text-align: left;
   font: 14;                                                                                                             
}

/* styling for the button */
.button {
   background-color: blue; 
   border: none; 
   color: white; 
   padding: 15px 32px; 
   text-align: left; 
   text-decoration: underline;
   display: block; 
   font-size: 16px; 
   margin: 4px 2px; 
   cursor: pointer;
}

/* styling for the button 2 */
.button2 {
   background-color: black;
   border: none; 
   color: white; 
   padding: 15px 32px; 
   text-align: left; 
   text-decoration: underline;
   display: block; 
   font-size: 16px; 
   margin: 4px 2px; 
   cursor: pointer;
}

/* Change background color on hover */
.button:hover {
   background-color: green;
}

/* Change background color on hover */
.button2:hover {
   background-color: green;
}

/* styling for grid layout */
.icon-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr); /* Two columns */
   grid-template-rows: repeat(4, 1fr); /* Four rows */
   gap: 10px; /* Gap between icons */
}

/* Style for all icons */
.icon{
   text-align: centre;
   color: black;
}

